1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "The LAMMPS Developers"
      VALUE "FileDescription", "@PROJECT_DESCRIPTION@"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "lammps-gui"
      VALUE "LegalCopyright", "Axel Kohlmeyer"
      VALUE "OriginalFilename", "lammps-gui.exe"
      VALUE "ProductName", "LAMMPS-GUI"
      VALUE "ProductVersion", "@PROJECT_VERSION@"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
2 ICON "lammps-gui.ico"
3 ICON "lmpfile.ico"
